In [158]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pandas as pd
import tensorflow as tf
import matplotlib as plt
from sklearn.datasets import make_blobs
from tensorflow import keras

In [159]:
# Load Data
charity_df = pd.read_csv('charity_data.csv')
charity_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [160]:
# Create the target
y_var = charity_df.IS_SUCCESSFUL
y_var.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [161]:
# What variable(s) are considered to be the features and what variable are neither for your model?
X = charity_df.drop(columns=['IS_SUCCESSFUL', 'NAME'])
X.head()

,EIN,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT
0,10520599,T10,Independent,C1000,ProductDev,Association,1,0,N,5000
1,10531628,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590
2,10547893,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000
3,10553066,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692
4,10556103,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590

In [162]:
# Using the methods described in this module, preprocess all numerical and categorical variables, as needed:
string_dtypes = X.dtypes[X.dtypes == "object"].index.tolist()
X[string_dtypes].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [163]:
class_count = X.CLASSIFICATION.value_counts()
class_count.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [164]:
# Determine which values to replace
replace_class = list(class_count[class_count < 4000].index)

In [165]:
# Replace in DataFrame
for classification in replace_class:
    X.CLASSIFICATION = X.CLASSIFICATION.replace(classification,"Other")

In [166]:
X.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [167]:
# Create the OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [168]:
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(X[string_dtypes]))

In [169]:
# Add encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(string_dtypes)
encode_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [170]:
# Merge the two DataFrames together
charity_new_df = pd.merge(X, encode_df, left_index=True, right_index=True).drop(string_dtypes, 1)
charity_new_df.head()

,EIN,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,10520599,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,10531628,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,10547893,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,10553066,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10556103,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [171]:
# Split our preprocessed data into our features and target arrays
y = y_var
X = charity_new_df

In [172]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [173]:
# Standardize numerical variables using TensorFlow’s StandardScaler class
scaler = StandardScaler()

In [174]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [175]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [176]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

In [177]:
# Train the model
log_classifier.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=200,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [178]:
# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f"Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

Logistic regression model accuracy: 0.534

In [179]:
# Define hidden layers
number_input_features = len(X_train_scaled[0])
hidden_layer1 =  8
hidden_layer2 = 5

In [180]:
nn = tf.keras.models.Sequential()

In [181]:
# Hidden layer 1
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=number_input_features, activation="relu"))

In [182]:
# Hidden layer 2
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation="relu"))

In [183]:
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [184]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [185]:
# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 8)                 408
_________________________________________________________________
dense_16 (Dense)             (None, 5)                 45
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 6
=================================================================
Total params: 459
Trainable params: 459
Non-trainable params: 0
_________________________________________________________________

In [186]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train.values, epochs=100)

Train on 25724 samples
Epoch 1/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.6005 - accuracy: 0.7039
Epoch 2/100
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5669 - accuracy: 0.7231
Epoch 3/100
25724/25724 [==============================] - 2s 79us/sample - loss: 0.5615 - accuracy: 0.7249
Epoch 4/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5590 - accuracy: 0.7261
Epoch 5/100
25724/25724 [==============================] - 2s 84us/sample - loss: 0.5574 - accuracy: 0.7283
Epoch 6/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5561 - accuracy: 0.7280
Epoch 7/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5552 - accuracy: 0.7288
Epoch 8/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5540 - accuracy: 0.7297
Epoch 9/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5532 - accuracy: 0.7301
Epoch 10/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5522 - accuracy: 0.7306
Epoch 11/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5519 - accuracy: 0.7288
Epoch 12/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5518 - accuracy: 0.7303
Epoch 13/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5511 - accuracy: 0.7309
Epoch 14/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5512 - accuracy: 0.7298
Epoch 15/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5506 - accuracy: 0.7309
Epoch 16/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5502 - accuracy: 0.7311
Epoch 17/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5503 - accuracy: 0.7320
Epoch 18/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5501 - accuracy: 0.7307
Epoch 19/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5500 - accuracy: 0.7312
Epoch 20/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5496 - accuracy: 0.7315
Epoch 21/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5497 - accuracy: 0.7311
Epoch 22/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5491 - accuracy: 0.7318
Epoch 23/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5492 - accuracy: 0.7312
Epoch 24/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5488 - accuracy: 0.7309
Epoch 25/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5487 - accuracy: 0.7312
Epoch 26/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5484 - accuracy: 0.7313s - los
Epoch 27/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5482 - accuracy: 0.7322
Epoch 28/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5479 - accuracy: 0.7330
Epoch 29/100
25724/25724 [==============================] - 3s 115us/sample - loss: 0.5480 - accuracy: 0.7329
Epoch 30/100
25724/25724 [==============================] - 3s 119us/sample - loss: 0.5480 - accuracy: 0.7330
Epoch 31/100
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5478 - accuracy: 0.7331
Epoch 32/100
25724/25724 [==============================] - 3s 117us/sample - loss: 0.5478 - accuracy: 0.7333
Epoch 33/100
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5478 - accuracy: 0.7339
Epoch 34/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5474 - accuracy: 0.7336
Epoch 35/100
25724/25724 [==============================] - 3s 110us/sample - loss: 0.5476 - accuracy: 0.7337
Epoch 36/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5474 - accuracy: 0.7324
Epoch 37/100
25724/25724 [==============================] - 2s 77us/sample - loss: 0.5473 - accuracy: 0.7326
Epoch 38/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5473 - accuracy: 0.7335
Epoch 39/100
25724/25724 [==============================] - 2s 75us/sample - loss: 0.5473 - accuracy: 0.7321
Epoch 40/100
25724/25724 [==============================] - 2s 78us/sample - loss: 0.5469 - accuracy: 0.7338
Epoch 41/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5471 - accuracy: 0.7336
Epoch 42/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5468 - accuracy: 0.7338
Epoch 43/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5466 - accuracy: 0.7331
Epoch 44/100
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5468 - accuracy: 0.7335
Epoch 45/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5466 - accuracy: 0.7353
Epoch 46/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5463 - accuracy: 0.7343
Epoch 47/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5463 - accuracy: 0.7349
Epoch 48/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5461 - accuracy: 0.7336
Epoch 49/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5464 - accuracy: 0.7346
Epoch 50/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5459 - accuracy: 0.7346
Epoch 51/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5461 - accuracy: 0.7352
Epoch 52/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5458 - accuracy: 0.7347
Epoch 53/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5459 - accuracy: 0.7335
Epoch 54/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5457 - accuracy: 0.7333
Epoch 55/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5457 - accuracy: 0.7349
Epoch 56/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5456 - accuracy: 0.7332
Epoch 57/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5456 - accuracy: 0.7343
Epoch 58/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5455 - accuracy: 0.7351
Epoch 59/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5458 - accuracy: 0.7338
Epoch 60/100
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5455 - accuracy: 0.7332
Epoch 61/100
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5452 - accuracy: 0.7348
Epoch 62/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5455 - accuracy: 0.7341
Epoch 63/100
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5453 - accuracy: 0.7349
Epoch 64/100
25724/25724 [==============================] - 3s 127us/sample - loss: 0.5451 - accuracy: 0.7339
Epoch 65/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5452 - accuracy: 0.7336
Epoch 66/100
25724/25724 [==============================] - 4s 137us/sample - loss: 0.5448 - accuracy: 0.7350
Epoch 67/100
25724/25724 [==============================] - 4s 141us/sample - loss: 0.5450 - accuracy: 0.7352
Epoch 68/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5451 - accuracy: 0.7352
Epoch 69/100
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5448 - accuracy: 0.7351
Epoch 70/100
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5448 - accuracy: 0.7343
Epoch 71/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5447 - accuracy: 0.7353
Epoch 72/100
25724/25724 [==============================] - 2s 83us/sample - loss: 0.5448 - accuracy: 0.7336
Epoch 73/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5447 - accuracy: 0.7339
Epoch 74/100
25724/25724 [==============================] - 3s 103us/sample - loss: 0.5448 - accuracy: 0.7342
Epoch 75/100
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5447 - accuracy: 0.7349
Epoch 76/100
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5445 - accuracy: 0.7349
Epoch 77/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5448 - accuracy: 0.7353
Epoch 78/100
25724/25724 [==============================] - 2s 95us/sample - loss: 0.5443 - accuracy: 0.7344
Epoch 79/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5447 - accuracy: 0.7345
Epoch 80/100
25724/25724 [==============================] - 2s 88us/sample - loss: 0.5443 - accuracy: 0.7362
Epoch 81/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5445 - accuracy: 0.7340
Epoch 82/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5446 - accuracy: 0.7351
Epoch 83/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5443 - accuracy: 0.7362
Epoch 84/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5441 - accuracy: 0.7349
Epoch 85/100
25724/25724 [==============================] - 2s 85us/sample - loss: 0.5440 - accuracy: 0.7356
Epoch 86/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5442 - accuracy: 0.7366
Epoch 87/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5441 - accuracy: 0.7351
Epoch 88/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5442 - accuracy: 0.7343
Epoch 89/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5440 - accuracy: 0.7353
Epoch 90/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5438 - accuracy: 0.7353
Epoch 91/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5440 - accuracy: 0.7353
Epoch 92/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5440 - accuracy: 0.7352
Epoch 93/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5441 - accuracy: 0.7356s - loss: 0.5444 - accura
Epoch 94/100
25724/25724 [==============================] - 2s 86us/sample - loss: 0.5437 - accuracy: 0.7360
Epoch 95/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5434 - accuracy: 0.7359
Epoch 96/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5438 - accuracy: 0.7357
Epoch 97/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5439 - accuracy: 0.7359s - loss: 0.5436 - accuracy: 0.73
Epoch 98/100
25724/25724 [==============================] - 2s 81us/sample - loss: 0.5437 - accuracy: 0.7363
Epoch 99/100
25724/25724 [==============================] - 2s 82us/sample - loss: 0.5436 - accuracy: 0.7342
Epoch 100/100
25724/25724 [==============================] - 2s 87us/sample - loss: 0.5435 - accuracy: 0.7361

In [187]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test.values, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5671 - accuracy: 0.7247
Loss: 0.5585784084942876, Accuracy: 0.7246647477149963